.header-buttons {
    display: flex;
    justify-content: space-between; /* Sépare les boutons à chaque extrémité */
    align-items: center; /* Aligne verticalement les boutons */
}

.back-button {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    padding: 15px 30px;
}

#sub-section {
    background-color: #B1B695;
    border-radius: 15px;
    padding: 10px;
    margin-top: 20px;
}

.collab {
    display: block;
    text-align: right;
    font-style: italic;
}

.collab span {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px;
}

figcaption {
    font-style: italic;
    text-align: center;
}

.img{
    margin-left: -450px;
}

/* 2 images côte à côte */
.double-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
  
.double-figure {
    flex: 1;
    max-width: 50%;
    box-sizing: border-box;
    padding: 10px;
}
  
.double-img {
    width: 100%;
    height: auto;
}

.double-figcaption {
    text-align: 'center'; 
    margin-top: '1em'; 
}


/* 1 image centré */
.single-figure {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

.single-img {
    width: 100%; 
    max-width: 2400px; 
    height: auto; 

}

.single-figcaption {
    text-align: 'center'; 
    margin-top: '1em'; 
}
  
  
/* Media query pour les petits écrans, par exemple les téléphones */
@media (max-width: 768px) {
    .double-figure {
        flex-basis: 100%;
        max-width: 100%;
    }
}