.accueil-container {
    font-family: Arial, sans-serif;
    padding: 20px;
}

#introduction {
    background-color: #B1B695;
    padding: 20px;
    border-radius: 5px;
}

#student-projects, #references {
    background-color: #B1B695;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: #3E4B4C;
    color: white;
    border-radius: 5px;
}

.banner {
    display: flex;
    align-items: center; /* Aligne verticalement les éléments au centre */
    justify-content: center; /* Aligne horizontalement les éléments au centre */
    background-color: #011638;
    padding: 10px; /* Espace autour du bandeau */
}

.App-logo {
    margin-right: 10px; /* Espace à droite du logo */
}

body {
    background-image: url('../pictures/parquet.jpg');
    background-size: cover; /* Pour couvrir toute la zone */
    background-repeat: no-repeat; /* Pour éviter que l'image ne se répète */
    background-position: center; /* Pour centrer l'image */
}