.accueil-container {
    font-family: Arial, sans-serif;
    padding: 20px;
}

#introduction {
    background-color: #e8f4dc;
    padding: 20px;
    border-radius: 5px;
}

#student-projects, #references {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
}

.banner {
    display: flex;
    align-items: center; /* Aligne verticalement les éléments au centre */
    justify-content: center; /* Aligne horizontalement les éléments au centre */
    background-color: #333;
    padding: 10px; /* Espace autour du bandeau */
}

.App-logo {
    margin-right: 10px; /* Espace à droite du logo */
}