/* Style global pour la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.projects-page {
    font-family: Arial, sans-serif;
    padding: 20px;
}

/* Titre principal */
h1 {
    text-align: center;
    background-color: #5B855F;
    color: #fff;
    padding: 10px 0;
}

/* Grille des projets */
.grid-projets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 20px;
}

.link a {
    color: white; 
    background-color: #5B855F;
    padding: 8px 12px;
    border-radius: 15px; 
    text-decoration: none;
}

.link a:hover {
    background-color: #4A704B;
}
